/node_modules
/public/hot
/config/base.php
/public/storage
/public/uploads/bukti_bayar
/public/uploads/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
